@media (max-width: 767px) {
    .row-cols-1 > .col {
        width: 100% !important; /* Ensure full width */
        margin-right: 0 !important; /* Remove right margin */
        margin-left: 0 !important; /* Remove left margin */
        padding-right: 0 !important; /* Remove right padding */
        padding-left: 0 !important; /* Remove left padding */
    }
}
