html, body {
  overflow-x: hidden;
}

/* Custom navbar styles */
.navbar-custom {
  border-bottom: 2px solid rgb(210, 71, 225); /* Add a border bottom */
}

/* Navbar brand styles */
.navbar-brand {
  color: white; /* Change brand text color */
  font-weight: bold; /* Make brand text bold */
}

/* Navbar links styles */
.nav-link {
  color: white; /* Change link text color */
  font-size: 18px; /* Change link text size */
}

/* Active link styles */
.nav-link.active {
  color: rgb(210, 71, 225) !important; /* Change active link text color */
}


.delete-icon,
.edit-icon {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent; /* Add a transparent border to ensure consistent size */
  transition: border-color ease;
}

.delete-icon:hover,
.edit-icon:hover {
  border-color: transparent; /* Ensure the border remains transparent on hover */
}

.delete-icon:hover {
  border: 2px solid red;
}

.edit-icon:hover {
  border: 2px solid blue;
}

.note-item {
  display: inline-block;
  margin: 10px;
  width: 250px;
 
}

.note-item {
  flex: 0 0 calc(20.333% - 25px); /* Adjust the width of each note */
  margin: 10px;
}

.note-item .card {
  width: 110%; /* Ensure the card takes full width of the note item */
}

.custom-card {
  width: 300px; /* Set a fixed width for the card */
  height: 400px; /* Set a fixed height for the card */
  margin: 10px; /* Add margin for spacing */
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange children in a column */
}

.card-body {
  padding: 20px; /* Add padding to the card body */
  min-height: 150px; /* Set a minimum height for the card body */
  overflow: hidden; /* Hide overflow content */
}

.card-title, .card-text {
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for truncated text */
  white-space: nowrap; /* Prevent text wrapping */
}


